html,
body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Darker Grotesque", sans-serif;
  font-size: 20px;
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h4,
.intro-line,
.contact strong {
  font-family: "DM Serif Display", serif;
}

h1 {
  font-size: 80px;
  font-weight: 300;
  line-height: 0.8;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

footer {
  padding-top: 120px;
}

.navbar {
  background-color: var(--background-color);
  padding-top: 0;
}

.nav-item {
  display: flex;
  justify-content: flex-end;
}

.fixed-top {
  margin-left: 12px;
  margin-right: 12px;
}

.navbar-numbers,
.nav-link:hover,
.social-media a,
.project-link,
.typeText,
.date,
.section-numbers,
.technologies li::marker,
.article-title:hover,
.contact a:hover,
.footer-social-media a,
.credits {
  color: var(--accent-color) !important;
}

.nav-link:hover {
  text-decoration: none;
}

.social-media {
  color: var(--accent-color);
  list-style: none;
  position: fixed;
  bottom: 0px;
  left: 10px;
}

.social-media-fixed-nav {
  margin-top: 328px !important;
}

.social-media a:hover,
.project-link:hover,
.footer-social-media a:hover {
  color: var(--primary-color) !important;
}

.sm-addresses {
  color: var(--secondary-color);
  font-size: 14px;
  position: relative;
  bottom: 3px;
  left: 2px;
}

.social-media-deco {
  text-align: center;
  font-weight: bold;
  margin-left: 7px;
  position: fixed;
}

.hero,
.projects,
.writings {
  padding-left: 200px;
  padding-right: 100px;
  margin-top: 170px;
}

.hero {
  margin-bottom: 280px;
}

.intro-line,
.pronouns {
  font-size: 16px;
}

.typeText::after {
  content: "|";
  animation: blink 1s infinite;
}

.headshot {
  border-radius: 50%;
  width: 250px;
  height: auto;
  margin-left: 80px;
}

.about,
.contact {
  margin-left: 0;
  margin-top: 200px;
  padding-left: 325px;
  padding-right: 250px;
}

.section-numbers {
  margin-top: 50px;
}

.section-head {
  padding-bottom: 20px;
}

.section-end {
  padding-top: 20px;
}

.section-head:before {
  content: "<";
}

.section-end::before {
  content: "</";
}

.section-head::after,
.section-end::after {
  content: ">";
}

.about-btn,
.projects-btn,
.writings-btn {
  background-color: var(--background-color) !important;
  border-color: var(--accent-color) !important;
  color: var(--primary-color) !important;
}

.about-btn:hover,
.projects-btn:hover,
.writings-btn:hover {
  background-color: var(--background-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--accent-color) !important;
}

.image-overlay {
  background-color: var(--accent-color);
  padding: 0px;
}

.project-image {
  box-shadow: 0 10px 30px -15px var(--secondary-color);
  opacity: 0.9;
}

.project-image:hover {
  opacity: 1;
}

.project-description {
  padding-left: 40px;
}

.project-description-middle {
  padding-right: 40px;
}

.project-tech-list {
  padding-left: 0;
}

.project-tech-list li {
  color: var(--secondary-color);
  display: inline-block;
  list-style: none;
}

.project-link-icon,
.project-link-icon-middle {
  font-size: 25px;
  padding-right: 5px;
}

.project-link-icon-middle {
  padding-top: 15px;
}

.contact {
  padding-left: 520px;
}

.contact a,
.contact span,
.credits:hover,
.time {
  color: var(--secondary-color) !important;
}

.current-time {
  animation: blink 2s infinite;
}

.footer-social-media {
  list-style: none;
  padding-left: 8px;
}

.footer-social-media li {
  display: inline-block;
  list-style: none;
  padding-right: 8px;
}

:root {
  --primary-color: #100007;
  --secondary-color: #7c7c7c;
  --accent-color: #ff2500;
  --background-color: #f0ede8;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 300px) {
  h1 {
    font-size: 30px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  .intro-line,
  .pronouns {
    display: none !important;
  }

  .headline {
    font-size: 14px !important;
  }
}

@media (max-width: 768px) {
  .hero,
  .projects,
  .writings,
  .about,
  .contact {
    margin-left: 30px !important;
    margin-top: 60px !important;
    padding-right: 60px !important;
  }
  .headshot {
    margin-left: 20px !important;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 17px;
  }

  .hero,
  .projects,
  .writings,
  .about,
  .contact {
    padding-left: 0 !important;
    margin-left: 60px;
    padding-right: 0;
  }

  .hero {
    padding-top: 0px !important;
    margin-bottom: 200px;
  }

  .intro-line,
  .pronouns {
    font-size: 12px;
  }

  .headline {
    font-size: 20px;
  }
  .headshot {
    margin-top: 20px;
    margin-left: 30px;
  }

  .about-btn,
  .projects-btn,
  .writings-btn {
    font-size: 16px;
  }

  .project-description,
  .project-description-middle {
    padding-left: 20px;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 40px;
    line-height: 0.5;
  }

  h4 {
    font-size: 25px;
  }

  .hero,
  .projects,
  .writings,
  .about,
  .contact {
    padding-right: 60px;
    padding-left: 200px;
  }

  .project {
    padding-right: 0;
  }

  .contact {
    padding-left: 220px;
  }
}
